<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="login()">
            <img src="../../../assets/img/user.png" width="40%" alt="user">
            <h2>Login</h2>

            <mat-form-field class="width-container" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input type="text" matInput formControlName="user">
            </mat-form-field>

            <mat-form-field class="width-container" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="primary" class="width-container" [disabled]="form.invalid">Ingresar</button>
        </form>

    </div>
</div>