table {
    width: 100%;
    margin-top: 20px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

th {
    width: 20%;
}

.icons-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.cursor-pointer {
    cursor: pointer;
}